/ | Copyright © 2018 Uploader
/ ul.f-menu
/   li
/     a[href="/"]
/       | Home
/   li
/     a[href="/upload"]
/       | Uplaod
/   li
/     a[href="/users"]
/       | Users
/   li
/     a[href=""]
/       | Support
/   li
/     a[href=""]
/       | Contact
